py.test==3.1.2
behave==1.2.5
selenium==3.4.3
python==3.6.1
ChromeDriver put in default Scripts directory in Python packages in Windows
To run all features use command: behave
To run only one feature as example: behave -f pretty features\deleting_from_cart.feature